{% extends "base.html" %}

{% block content %}
<br>
<table align="center" width="700" cellpadding="6">
    <tr>
        <td align="center" width="480">
            <img src="{{  mylist[2]  }}" width="400" height="400">
        </td>
    </tr>
    <tr>
        <td align="center">
            <strong>Название: {{  mylist[0]  }}</strong>
        </td>
    </tr>
    <tr>
        <td align="center">
            <strong>Информация: {{  mylist[-2]  }}</strong>
        </td>
    </tr>
    <tr>
        <td align="center">
            <strong>Цена: {{  mylist[1]  }}</strong>
        </td>
    </tr>
    <tr>
        <td align="right">
            <br>
            <div align="center">
                <a class="btn btn-success" href="/add_basket/{{  mylist[-1]  }}">Добавить в корзину</a>
            </div>
        </td>
    </tr>
</table>
<div align="left"><a class="btn btn-success" href="/catalog">Назад</a></div>
{% endblock %}